*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/dpadclient.iml
mvp/build/generated/assets/
mvp/build/generated/res/
mvp/build/generated/source/aidl/
mvp/build/generated/source/apt/
mvp/build/generated/source/rs/
mvp/build/intermediates/check-manifest/
mvp/build/intermediates/classes/debug/android/support/design/
mvp/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
mvp/build/intermediates/incremental/packageDebugAssets/
mvp/build/intermediates/incremental/packageDebugResources/aapt-temp/
mvp/build/intermediates/incremental/packageDebugResources/stripped.dir/
mvp/build/intermediates/intermediate-jars/debug/jni/
mvp/build/intermediates/jniLibs/
mvp/build/intermediates/library_and_local_jars_jni/
mvp/build/intermediates/packaged-aidl/
mvp/build/intermediates/packagedAssets/
mvp/build/intermediates/packaged_res/
mvp/build/intermediates/public_res/
mvp/build/intermediates/rs/
mvp/build/intermediates/shaders/
mvp/build/intermediates/symbols/
mvp/build/tmp/
test/
/.idea/
.idea/vcs.xml
mvp/build/intermediates/classes/debug/android/support/compat/
mvp/build/intermediates/classes/debug/android/support/coreui/
mvp/build/intermediates/classes/debug/android/support/coreutils/
mvp/build/intermediates/classes/debug/android/support/fragment/
mvp/build/intermediates/classes/debug/android/support/graphics/
mvp/build/intermediates/classes/debug/android/support/mediacompat/
mvp/build/intermediates/classes/debug/android/support/v4/
mvp/build/intermediates/classes/debug/android/support/v7/
mvp/build/intermediates/classes/debug/butterknife/
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/BuildConfig.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$anim.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$attr.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$bool.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$color.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$dimen.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$drawable.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$id.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$integer.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$layout.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$string.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$style.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R$styleable.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/R.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/XDroidConf.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/base/
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/cache/DiskCache.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/cache/DiskLruCache$1.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/cache/DiskLruCache$Editor$FaultHidingOutputStream.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/cache/DiskLruCache$Entry.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/cache/DiskLruCache$Snapshot.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/cache/ICache.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/cache/MemoryCache.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/cache/SharedPref.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/event/
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/imageloader/
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Codec$Algorithm.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Codec$BASE64.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Codec$DES.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Codec$MAC.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Codec$RSA.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Codec$SHA.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Codec.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Kits$Date.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Kits$Dimens.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Kits$Empty.class
mv
p/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Kits$IO.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Kits$NetWork.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Kits$Package.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Kits$Random.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Kits.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/KnifeKit.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/SimpleCallback.class
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/mvp/
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/net/
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/router/
mvp/build/intermediates/classes/debug/cn/droidlover/xrecyclerview/
mvp/build/intermediates/classes/debug/cn/droidlover/xstatecontroller/
mvp/build/intermediates/classes/debug/com/
mvp/build/intermediates/classes/debug/io/
mvp/build/intermediates/classes/debug/jp/
mvp/build/intermediates/intermediate-jars/debug/res.jar
mvp/build/intermediates/javaPrecompile/
mvp/build/intermediates/classes/debug/cn/droidlover/xdroidmvp/kit/Kits$IO.class
mvp/build/intermediates/incremental/debug-mergeJniLibs/merge-state
mvp/build/intermediates/transforms/
/app/build/
/library/build/
/mvp/build/
